$nav-bar-height: 60px;
$accrodian-width: 500px;
$acc-height: 60px;






// list of colors...........................................
$dark-gray: #A9A4A4;
$dark-gray: #A9A4A4;
$gray: #6C6c6C;





 //font-size.................................................

$xs-txt: 16px;
$sm-txt: 18px;
$md-txt: 20px;
$lg-txt: 28px;
// $xl-txt: