<dn-accordian
[title]="prodTitle"
[initialCollapse]="collapse"
[idPrefix]="id"
>
    <div *ngFor="let sale of sales"  class="details-box py-4">
        <p class="details-box__items mb-0">chocolate Donuts : {{ sale.chocolateDonuts }} </p>
        <p class="details-box__items mb-0">white Chocolate Donuts : {{ sale.whiteChocolatedonuts }} </p>
        <p class="details-box__items mb-0">glace Donuts : {{ sale.glaceDonuts }} </p>
        <p class="details-box__items mb-0">chocochip Donuts : {{ sale.chocochipDonuts }} </p>
    </div>
</dn-accordian>