@import "variables";

.box-acc {
    border: 1px solid $dark-gray;
    max-width: $accrodian-width;
    width: 100%;
    border-radius: 4px;


    &__container{
        border-bottom: 1px solid $dark-gray;
    }

    &__title {
        height: $acc-height;
        line-height: $acc-height;
        font-size: $sm-txt;
        color: $gray;
    }

    &__btn {
        float: right;
        background: transparent;
        border-style: none;
        margin: 18px 15px 0px 0px;
    }
}