<div class="box-acc my-3 mx-auto" id="{{ id }}">
  <div class="w-100" [ngClass]="{ 'box-acc__container' : !isCollapsed}">
  <div class="box-acc__title d-inline-block pl-3" *ngIf="title">
    {{ title }}
  </div>
  <button class="box-acc__btn" type="button" (click)="updateDom()">
    <img
      [src]="
        isCollapsed
          ? '/assets/images/caret-down.png'
          : '/assets/images/caret-up.png'
      "
    />
  </button>
</div>

  <div *ngIf="!isCollapsed">
    <ng-content></ng-content>
  </div>
</div>
